.page-header{
	width: 100%;
	background-color: #2F4F4F;
	margin: 0px;
}
.page-header h1{
	padding : 5px;
	color: #ffffff
}
.page-header small{
	color: #ffffff
}
.home, .about{
	margin-left: 300px;
	color: #ffffff
}
.login_btn{
	float: right;
}
.status{
	float: right;
}
.status small{
	color: #ffffff;
}
.userinfo h3 li{
	color: #000000
}
#startMsg{
	color: #000000
}
#personalityInfo{
	color: #000000
}
#recommendation{
	color: #000000
}

footer{
	width: 100%;
	background-color: #2F4F4F
}
footer p{
	color: #ffffff
}
