{% extends 'pbmrs/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
  <div class="container center about-page" style="padding-top:90px;">
    <div class="ui styled fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        Openness
      </div>
      <div class="content">
      <ol>
      <li>Oenness to Experience: Openness is a general appreciation of art, emotion, adven-
  ture, unusual ideas, imagination, curiosity, and variety of experience. The tend to
  be more creative and more aware of their feelings.They are also most likely to hold
  unconventional beliefs. Some sample items used by person with this traits are:
      <ul>
        <li>I have an excellent ideas.2</li>
        <li>I am quick to understand things.</li>
        <li>I am full of ideas.</li>
      </ul>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Conscientiousness
    </div>
    <div class="content">
    <li>Conscientiousness: Conscientiousness is a tendency to display self-discipline, act du-
tifully and strive for achievement againts measures or outside expectations. It is related
to the way in which people control, regulate and direct thier impules.The level of con-
scientiousness rises among young adults and then declines among older adults. Some
sample items used by person with this traits are:
    <ul>
    <li>I follow a schedule.</li>
    <li>I am exact in my work.</li>
    <li>I am always prepared.</li>
    </ul>
    </div>
    <div class="title">
        <i class="dropdown icon"></i>
        Extraversion
      </div>
      <div class="content">
    <li>Extraversion: Extraversion is characterized by breadth of activities, surgency from
external activity/situations and energy creation from external means. Extraverts enjoy
interacting with people and are often perceived as full of energy. They tend to be
enthusiastic, action-oriented indivduals. They posses high group visibililty, like to talk
and assert themselves. Some sample items used by person with this traits are:
  <ul>
    <li>I love the life of the party.</li>
    <li>I don’t mind being the center of attention.</li>
    <li>I feel comfortable around the people.</li>
  </ul>
  </div>
  <div class="title">
        <i class="dropdown icon"></i>
        Agreeableness
      </div>
  <div class="content">
  <li>Agreeableness: The agreeableness trait reflects individual differences in general con-
cern for social harmony. Agreeable individuals value getting along with others. They
are generally considerate, kind, generous, trusting and trustworthy, helpful and willing
to compromise their interests with others. They also have optimistic view of human
nature. Some sample items used by person with this traits are:
  <ul>
    <li>I have a soft heart.</li>
    <li>I am interested in people.</li>
    <li>I take time out for others.</li>
</ul>
  </div>
  <div class="title">
        <i class="dropdown icon"></i>
        Neuroticism
      </div>
      <div class="content">
5. Neuroticism: Neuroticism is the tendency to experience negative emotions, such as
anger, anxiety or depression.
  <ul>
    <li>I get irritated easily.</li>
    <li>I get stressed out easily.</li>
    <li>I get upset easily.</li>
    </ul>
  </div>
</div>
</div>
 {% endblock body %}
