{% extends 'pbmrs/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
  <div class="container about-page" style="padding: 100px; padding-top:90px;">
    <h2 class="ui header">About Personality Based Music Recommendation</h2>
      <h3 class="ui header"></h3>
      <div class="sub header">
        To get personality based music recommendation you have to signup using your social media account (currently facebook only).
        After signing up user can find recommended music just for you.
      </div>
    <h2 class="ui header">Top Five Personality Traits</h2>
      <h3 class="ui header">Openness</h3>
      <div class="sub header">
        Openness to Experience: Openness is a general appreciation of art, emotion, adven-
        ture, unusual ideas, imagination, curiosity, and variety of experience. The tend to
        be more creative and more aware of their feelings.They are also most likely to hold
        unconventional beliefs. Some sample items used by person with this traits are:
        <ul>
          <li>I have an excellent ideas.</li>
          <li>I am quick to understand things.</li>
          <li>I am full of ideas.</li>
        </ul>
      </div>

      <h3 class="ui header">Conscientiousness</h3>
      <div class="sub header">
      Conscientiousness is a tendency to display self-discipline, act du-
      tifully and strive for achievement againts measures or outside expectations. It is related
      to the way in which people control, regulate and direct thier impules.The level of con-
      scientiousness rises among young adults and then declines among older adults. Some
      sample items used by person with this traits are:
      <ul>
      <li>I follow a schedule.</li>
      <li>I am exact in my work.</li>
      <li>I am always prepared.</li>
      </ul>
      </div>

      <h3 class="ui header">Extraversion</h3>
      <div class="sub header">
        Extraversion is characterized by breadth of activities, surgency from
        external activity/situations and energy creation from external means. Extraverts enjoy
        interacting with people and are often perceived as full of energy. They tend to be
        enthusiastic, action-oriented indivduals. They posses high group visibililty, like to talk
        and assert themselves. Some sample items used by person with this traits are:
        <ul>
          <li>I love the life of the party.</li>
          <li>I don’t mind being the center of attention.</li>
          <li>I feel comfortable around the people.</li>
        </ul>
      </div>

      <h3 class="ui header">Agreeableness</h3>
      <div class="sub header">
        The agreeableness trait reflects individual differences in general con-
        cern for social harmony. Agreeable individuals value getting along with others. They
        are generally considerate, kind, generous, trusting and trustworthy, helpful and willing
        to compromise their interests with others. They also have optimistic view of human
        nature. Some sample items used by person with this traits are:
        <ul>
          <li>I have a soft heart.</li>
          <li>I am interested in people.</li>
          <li>I take time out for others.</li>
        </ul>
      </div>

      <h3 class="ui header">Neuroticism</h3>
      <div class="sub header">
        Neuroticism is the tendency to experience negative emotions, such as
        anger, anxiety or depression.
        <ul>
          <li>I get irritated easily.</li>
          <li>I get stressed out easily.</li>
          <li>I get upset easily.</li>
        </ul>
      </div>
</div>
 {% endblock body %}
