<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <title>
		{% block title %}
		{% endblock %}
    </title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		-->

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

		{% load static %}
		<link rel="stylesheet" href="{% static 'pbmrs/css/style.css' %}" type="text/css">
	  <script src="{% static 'pbmrs/js/graphapi.js' %}" type="text/javascript"></script>
	</head>
	<body>
		<div class="ui secondary pointing menu">
			<a href="{% url 'home' %}">
			<div class="item">
				{% load static %}
				<img src="{% static 'pbmrs/img/logo.png' %}">
			</div>
			</a>
		  <a class="active item" href="{% url 'home' %}">
		    Home
		  </a>
		  <div class="right menu">
		    <div class="item" id="fb-login-btn">
					<fb:login-button
						id="fb-btn"
						scope="public_profile,user_posts"
						onlogin="checkLoginState();">
					</fb:login-button>
				</div>
				<div class="item" id="fb-logout-btn">
					<div class="ui primary button" onclick="logout()">Logout</div>
				</div>
		  </div>
		</div>
	<div class="ui container" style="padding:10px;">
		{% block body %}
		{% endblock body%}
	</div>
		</div>
	</body>
	<footer>
	<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="twenty wide column">
          <h4 class="ui inverted header">geet</h4>
          <p>Find songs based on your social media profile.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
			{% load static %}
      <img src="{% static 'pbmrs/img/logo.png' %}" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
	<div>
		<br>
	</div>
</footer>
</html>
