{% extends 'pbmrs/base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block body %}

  <div class="container">
    <h3 id="heading">Log in to Listen recommended songs</h3>
    <div id="profile"></div>
    <div id="feed"></div>
		{% if recommended_songs %}
		<h3 id="heading">Recommended Songs:</h3>
		{% for rsong in recommended_songs %}
			<div class="row">
			  <div class="col-sm-6 col-md-12">
			    <div class="thumbnail">
			      {# <img src="..." alt="...">#}
			      <div class="caption">
			        <h3>{{ rsong.song }}</h3>
			        <p>{{ rsong.artist }}</p>
			      </div>
			    </div>
			  </div>
			</div>
		{% endfor %}
		{% endif %}
</div>

{% endblock body%}
