{% extends 'pbmrs/base.html' %}

{% block title %}
{{ title }} | {{ login_user.name }}
{% endblock %}


{% block body %}
<h3>{{ login_user.name }}</h3>
<div class="ui container profile-container">
<div class="ui container" style="padding-left:450px;padding-top:10px;">
<div class="ui card">
		<div class="ui tiny circular image">
			{% load static %}
			<img src="{% static 'pbmrs/img/blank-profile.png' %}" alt="">
		</div>
		<div class="content">
			<a class="header center">{{ login_user.name }}</a>
			<div class="description">
				facebook id : {{ login_user.fb_id }}
			</div>
	</div>
</div>
</div>
<div class="sixteen wide column" style="padding:10px;">
	<h3 id="heading">Big 5 personality Traits</h3>
	<div class="ui five cards">
		<div class="ui card">
				<div id="op-circle" data-animation="1" data-animationStep="5" data-percent="20"></div>
					<div class="content">
						<a class="header center">Openness</a>
						<div class="description">
							{{ login_user.op }} data in Openness
						</div>
				</div>
			</div>
		<div class="ui card">
				<div id="neu-circle" data-animation="1" data-animationStep="5" data-percent="20"></div>
				<div class="content">
					<a class="header center">Neuroticism</a>
					<div class="description">
						{{ login_user.op }} data in Openness
					</div>
			</div>
		</div>
		<div class="ui card">
				<div id="ex-circle" data-animation="1" data-animationStep="5" data-percent="20"></div>
				<div class="content">
					<a class="header center">Extraversion</a>
					<div class="description">
						{{ login_user.op }} data in Openness
					</div>
			</div>
		</div>
		<div class="ui card">
				<div id="ag-circle" data-animation="1" data-animationStep="5" data-percent="20"></div>
				<div class="content">
					<a class="header center">Agreebleness</a>
					<div class="description">
						{{ login_user.op }} data in Openness
					</div>
			</div>
		</div>
		<div class="ui card">
				<div id="cons-circle" data-animation="1" data-animationStep="5" data-percent="20"></div>
				<div class="content">
					<a class="header center">Conscientiousness</a>
					<div class="description">
						{{ login_user.op }} data in Openness
					</div>
			</div>
		</div>
</div>
</div>
</div>
 {% endblock body %}
